$dark-color: #aeaeae;
$light-color: #d5d5d5;
$white: #fff;
[ng\:cloak],[ng-cloak],.ng-cloak{
  display:none;
}
*{
  margin: 0;
  padding: 0;
}
html, body{
  height: 100%;
  font-size: 1em;

}
body{
  background: linear-gradient( $white, #eef2f2) ;
}
.wrapper{
  min-height: 100%;
  overflow: hidden;
  position: relative;

  .load{
    margin: 0 auto;
    display: block;
    height: 28rem;
  }

}
.wrapper:after{
  content: '';
  height: 5rem;
  display: block;
}
.f-letter:first-letter{
  text-transform: uppercase;
}
header{
  height: 4rem;
  background: linear-gradient(#507299, #84ABE7);

  nav{

    .my-col{
      height: 4rem;
    }

    .brand{
      text-transform: uppercase;
      color: #dedede;
      padding: .5rem 1.2rem;
      font-size: 2rem;
      text-decoration: none;
      display: inline-block;
      transition: ease-out 0.5s;
    }

    .brand:hover{
      color: $white;
    }

    .my-row{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 4rem;

      label{
        color: $white;
      }
      
      .my-btn{
        background: linear-gradient(rgba(48, 80, 117, 0.61),rgba(57, 116, 162, 0.68));
        color:$white;
        font: bold 1rem Verdana, arial;
        transition: ease-out 0.5s;
      }
      
      .my-btn:hover{
        background: linear-gradient(#326b91, #4891cc);
      }
    }
  }
}
.container{
  .row{
    & .head{
      background: #dedede;
      height: 2.25rem;

      p{
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        font: 900 1rem Verdana, Arial;
        color: #000;
      }
    }
    .line{
      height: 12px;
      background: #dedede;
    }
    & ul{
      list-style: none;

      li{

       .my-img{
         width: 4rem;
         height: 4rem;
       }
        .my-col{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 4.8rem;

          p{
            font: 900 1rem Verdana,Arial;
            color: rgba(24, 24, 24, 0.85);
          }

          p.f-letter:first-letter{
            text-transform: uppercase;
          }
        }

        p span {
          color: #2b2b2b;
          font: 800 .8rem Verdana, Arial;
        }

        span.glyphicon{
          top: 1.5rem;
          left: 2.1rem;
          font-size: 1.5rem;
          color: #65686b;
        }
      }

      li.dark-color{
        background: $dark-color;
      }

      li.light-color{
        background: $light-color;
      }

      .details{

        .col-sm-3{
          padding-top: 3.75rem;
        }
        img{
          margin-top: .5rem;
        }

     }
    }
  }
}

footer{
  height: 5rem;
  margin-top: -5rem;
  position: relative;
  background: #507299;
  color: $white;
  text-align: center;
  font: 100 .8rem Verdana, Arial;
  p{
    padding-top: 2.5rem;
  }
}


