<section class="container users">
  <div class="row">
    <div class="line"></div>
    <div class="head">
      <p class="col-sm-offset-2 col-sm-2">Last</p>
      <p class="col-sm-1">First</p>
      <p class="col-sm-2">UserName</p>
      <p class="col-sm-2">Phone</p>
      <p class="col-sm-2">Location</p>
      <div class="clearfix "></div>
    </div>
    <div class="line"></div>
    <ul accordion-show >
      <li class="table-striped"  ng-repeat="item in main.temp = (main.data | filter: {name:{first: main.query}}) " ng-class="$even ? 'dark-color': 'light-color' " ng-init="main.isEnd = $last">
        <section class="info">
          <div class="my-col col-sm-2">
            <img class="my-img img-responsive img-circle img-thumbnail" ng-src="{{item.picture.thumbnail}}" alt="Photo">
          </div>
          <div class="my-col col-sm-2"> <p class="f-letter">{{item.name.last}}</p></div>
          <div class="my-col col-sm-1"><p class="f-letter">{{item.name.first}}</p></div>
          <div class="my-col col-sm-2"><p class="f-letter">{{item.login.username}}</p></div>
          <div class="my-col col-sm-2"><p>{{item.phone}}</p></div>
          <div class="my-col col-sm-2"><p>{{item.location.city}}</p></div>
          <div class="clearfix "></div>
        </section>
        <div class="details">
          <div class="col-sm-4">
            <p><h2 class="f-letter">{{item.name.first}} <i class="fa" ng-class=" item.gender == 'female'?'fa-female': 'fa-male'  " aria-hidden="true"></i></h2> </p>
            <p><span>Username</span> {{item.login.username}}</p>
            <p><span>Registered date</span> {{ item.registered | limitTo: 11}} </p>
            <p><span>Email</span> {{item.email}}</p>
          </div>
          <div class="col-sm-3">
            <p><span>Address</span> {{item.location.state}}</p>
            <p><span>City</span> {{item.location.city}}</p>
            <p><span>Zp Code</span> {{item.location.postcode}}</p>
          </div>
          <div class="col-sm-3">
            <p><span>Birthday</span> {{item.dob}}</p>
            <p><span>Phone</span> {{item.phone}}</p>
            <p><span>Cell</span> {{item.cell}}</p>
          </div>
          <div class="col-sm-2">
            <img ng-src="{{item.picture.large}}" class=" img-responsive img-circle img-thumbnail" alt="{{item.name.first}}">
          </div>
          <div class="clearfix "></div>
        </div>
      </li>
    </ul>
  </div>
</section>
<section class="container">
  <div class="row">
    <!-- Modal -->
    <div class="modal fade" id="myPopUp" tabindex="-1" role="dialog" aria-labelledby="myPopUpLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myPopUpLabel">Gender Users</h4>
          </div>
          <div class="modal-body">
            <div id="piechart_3d" style="width: 500px; height: 500px;"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>